* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  background-image: linear-gradient(45deg, black, purple);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;

}

.calculadora {

  display: flex;
  position: absolute;
  background-color: black;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 15px;
  padding: 15px;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
}

h2 {
  text-align: center;
}

.button {
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(31, 31, 31);
  color: white;
  margin: 3px;
}

.button:hover {

  background-color: black;

}

#resultado {

  width: 210px;
  height: 30px;
  background-color: white;
  margin: 5px;
  font-size: 25px;
  color: black;
  text-align: right;
  padding: 5px;
  align-items: center;

}