<!DOCTYPE html>
<html lang="pt">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="styles.css" />
	<title>Exercices</title>
</head>

<body>
	<header>
		<img src="./assets/logo.png" />
	</header>
	<div class="container">
		<h1>A vida das Girafas das girafas, como vivem, o que comem.</h1>
		<nav>
			<img src="./assets/facebook.png" alt="facebook" />
			<img src="./assets/instagram.png" alt="instagram" />
			<img src="./assets/linkedin.png" alt="linkedin.png" />
		</nav>
	</div>
	<section>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, nisi rem. Nulla nesciunt corrupti
			recusandae praesentium similique earum. Rem aspernatur illo rerum ipsam dolore magnam doloremque quisquam
			non, maxime, perspiciatis dolorum nemo quod deleniti? Sunt quas at eveniet molestias sed laudantium eius
			porro incidunt, fugit nam? Quidem cumque vel quae odio, est nam qui doloribus, pariatur ad repellat
			reiciendis adipisci. Omnis nisi, quidem atque pariatur ab, debitis ea sunt obcaecati maiores neque enim
			dolorum sequi saepe sint illum? Magnam neque est accusamus animi reiciendis. Id veritatis cumque excepturi,
			porro rerum qui quas, iure tenetur asperiores quos vel harum libero repudiandae. Distinctio vitae soluta,
			reprehenderit nobis, consequuntur voluptatibus quis eum culpa ea repellat explicabo eius dicta sint,
			voluptatum nihil nam doloremque voluptate ex a earum non illum aliquid odit? Omnis sapiente quod laboriosam
			tempore expedita incidunt a sequi numquam itaque quasi nesciunt possimus explicabo saepe vero unde rerum
			atque labore quisquam, alias commodi praesentium? Ipsum a eveniet, architecto suscipit adipisci tempore
			expedita error temporibus totam voluptates culpa? Libero ab similique excepturi iure! Pariatur totam id iure
			repudiandae quas a, nobis laboriosam libero ipsum dolor, officiis culpa modi explicabo quidem, molestias
			dignissimos sapiente provident. Quia doloremque ullam soluta eius hic exercitationem? Sed corrupti
			voluptates ut sunt temporibus, libero error nobis alias maxime magnam minima enim illo! A nisi iusto dolores
			dignissimos libero esse sit laborum perspiciatis eveniet nulla, assumenda quasi est rem praesentium quas
			quaerat repellendus unde. Itaque deserunt eos exercitationem voluptates repellendus aut sed recusandae,
			atque amet, quo ratione cumque id repudiandae voluptas nisi possimus? Quae, deserunt alias corporis dolorem
			sapiente doloremque porro, accusamus quis tempora architecto natus asperiores nobis illo earum unde harum
			ratione magnam, provident totam ullam distinctio animi possimus. Quod consectetur voluptatibus magni
			excepturi officia quibusdam distinctio culpa tempora rerum atque laudantium eius nobis adipisci eaque
			debitis iste tenetur, deleniti cupiditate blanditiis ea reiciendis vitae? Quam soluta doloribus fugit
			commodi, recusandae esse possimus laudantium accusantium temporibus molestias quidem ullam eius dolore
			tenetur suscipit ipsum vero nesciunt consequatur quisquam porro deleniti iste quaerat error. Molestias
			voluptate quam, molestiae, ratione natus sed laborum quos eius animi fuga magni nesciunt veniam impedit
			dolorum sit corrupti assumenda eaque veritatis omnis iste. Quo esse inventore beatae consequatur iusto et,
			aliquid ducimus ratione, dolorum minima excepturi aliquam vitae maiores molestiae laborum porro facilis ut,
			obcaecati suscipit eos ex doloribus eius. Ullam eaque ad consequuntur? Laborum consequuntur, blanditiis amet
			beatae veniam sunt magnam sint ullam tempora pariatur quas nesciunt voluptates quod modi vel aut voluptate
			rerum ut dolorem aliquam labore minus esse. Praesentium eligendi molestias corporis beatae sit, illo cumque
			aspernatur repellendus autem reprehenderit quae asperiores deleniti recusandae explicabo nisi vitae. Magni
			inventore accusantium veritatis cumque obcaecati? Iste quia fugit consequatur eos cum tenetur inventore
			asperiores, magni quo dicta libero, hic neque tempora iusto. Expedita facilis nihil quaerat accusantium
			labore perferendis corporis maxime excepturi harum animi. Temporibus exercitationem corporis minus maxime
			totam soluta adipisci corrupti, odit perspiciatis fugit quibusdam, quis a recusandae rem ipsa voluptates, ut
			iusto. Quidem natus laudantium suscipit et omnis exercitationem eligendi voluptatibus nam? Quis aliquam
			similique iure iusto voluptate natus, recusandae, quibusdam beatae temporibus architecto, impedit
			reprehenderit hic ex corrupti incidunt. Veritatis labore aperiam fugit aliquam. Nam voluptatem amet harum
			odit eaque illo magni iusto totam suscipit eligendi, temporibus doloribus nisi ipsa assumenda exercitationem
			voluptas excepturi eos quia ipsum, optio vel doloremque obcaecati beatae aperiam. Quaerat eaque itaque
			impedit dolores perferendis ut ab provident ipsa fugiat autem, repellendus sit porro doloribus vero
			perspiciatis nulla, illum placeat corrupti temporibus saepe aliquid aut eveniet ad maiores! Impedit eligendi
			aspernatur expedita magni, cupiditate architecto earum? Sequi illum ipsum soluta, ullam autem nesciunt
			quisquam, saepe voluptas distinctio mollitia, ipsam voluptates. Placeat obcaecati impedit, labore saepe
			suscipit quae autem a? Vel eos quia dolor mollitia vero provident, illum molestias tempore cumque id beatae,
			dolores possimus tempora magnam magni esse velit? Quidem aliquid suscipit quam velit corrupti, alias atque
			necessitatibus tempore, recusandae delectus exercitationem excepturi provident fugit accusantium officiis
			amet! Non odio reiciendis dolorum dolore maxime fugiat consequatur, ipsam neque provident est alias minus
			quia voluptas, eligendi dignissimos, ducimus assumenda illum quaerat laudantium perferendis optio. Ullam
			sint fuga ex earum eveniet beatae nostrum exercitationem quaerat obcaecati vero? Illo natus ratione,
			blanditiis vel praesentium incidunt iusto commodi asperiores, aliquid tenetur, non dicta repellendus?
			Repellendus quod sequi laboriosam officiis similique ratione. Doloremque molestias error qui praesentium
			nisi sunt necessitatibus dignissimos corporis quibusdam, nihil ipsa, laboriosam accusamus doloribus pariatur
			non culpa laudantium voluptates delectus, tempora aperiam. Doloremque, voluptates impedit. Laboriosam porro
			ut expedita delectus alias unde libero ratione quaerat explicabo et commodi officiis, aliquid quibusdam
			adipisci fugiat atque! Error numquam nihil ullam quam, perferendis facere eius quisquam ipsum aspernatur,
			accusamus fuga, doloremque consequuntur delectus. Quae temporibus, doloribus magnam autem fuga unde earum
			porro numquam quo corporis, debitis voluptate repellat et. Dolor blanditiis tempora in similique quaerat id
			velit repellat assumenda cum, distinctio ea natus alias fugiat inventore, praesentium consequuntur vel
			sapiente maiores sint rerum accusamus aut aperiam eligendi veniam. Voluptatum quidem non explicabo quasi
			unde adipisci placeat maiores, cumque iste nihil exercitationem labore optio natus vero tempore eaque quod
			sapiente, odit voluptatibus pariatur quia voluptas minima esse vel. Mollitia vero officia id architecto,
			laudantium ipsum, ad molestias qui cumque quis minima consectetur et sit accusantium voluptatem aperiam?
			Temporibus non tenetur soluta? Quisquam maiores temporibus a soluta assumenda, delectus eaque, vitae aut ea
			culpa amet animi nemo necessitatibus iure, repellendus dicta. Atque provident aliquam labore vitae eius
			sequi itaque dolore ullam omnis repudiandae. Incidunt voluptatem impedit quidem inventore aspernatur
			veritatis corporis odio? Asperiores voluptatum deleniti esse cumque nemo, minima voluptatem ipsum eligendi
			ipsam adipisci reprehenderit velit harum rerum et nam molestias eius sunt animi perferendis reiciendis
			voluptatibus explicabo corporis magni tenetur. Tempora quae explicabo sed corrupti non ipsam id ea animi
			saepe distinctio expedita, beatae hic dicta maiores perferendis culpa? Corrupti ipsa, repudiandae voluptas
			consequuntur quidem accusamus, sequi quisquam dicta dolore id natus commodi quia eum nulla nesciunt odio
			dolor totam accusantium vitae dolorum. Aspernatur dolorum dolore reiciendis quisquam blanditiis, eum sint
			aliquam ut. Delectus aspernatur voluptates, officiis quas praesentium laboriosam?

		</p>
	</section>
	<a href="#">
		<img class="img-top" src="./assets/top.png" />
	</a>
</body>

</html>