. * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 200vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("./assets/girafa.jpg");
    background-size: cover;
    height: 100vh;
}

.container h1 {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;
    padding: 35px;
}

header {
    background-color: blueviolet;
    text-align: center;
    position: fixed;
    z-index: 1;
    width: 100vw;
}

section {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

p {
    width: 100%;
    text-align: justify;
}

.img-top {
    position: absolute;
    right: 20px;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20px;
    min-height: 150px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgb(243, 146, 165);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 3px;
}

nav:hover {
    width: 80px;
}